stage2a_old_training_data_codes/Texas.geojson filter=lfs diff=lfs merge=lfs -text
stage2a_old_training_data_codes/stratmap25-landparcels_48201_lp.zip filter=lfs diff=lfs merge=lfs -text
stage2a_old_training_data_codes/Harris_CBG_Building_Population.zip filter=lfs diff=lfs merge=lfs -text
